{
    "rct_use_div":"<ul class='list-type1 w-btn'><%data.rct_use_data.forEach(function(item,index){%><li><a href='#' class='bank_info' in_account_no='<%=item.account_no2%>' in_bank_cd='<%=item.bank_cd%>'><p><%= item.user_nm%></p><p><strong><%= item.account_nm%> <%= item.account_no%></strong></p></a><button type='button' class='btn-favorit <%=(item.ftn_use_yn=="Y"?"active":"")%>'>즐겨찾는 계좌</button></li><%});%></ul>",
    "ftn_use_div":"<ul class='list-type1 w-btn'><%data.ftn_use_data.forEach(function(item,index){%><li><a href='#' class='bank_info' in_account_no='<%=item.account_no2%>' in_bank_cd='<%=item.bank_cd%>'><p><%= item.user_nm%></p><p><strong><%= item.account_nm%> <%= item.account_no%></strong></p></a><button type='button' class='btn-favorit <%=(item.ftn_use_yn=="Y"?"active":"")%>'>즐겨찾는 계좌</button></li><%});%></ul>"
}