@charset 'utf-8';
/*** page ***/
/* login */
#contents.login{position:relative;height:85vh;padding:0 30px;padding-bottom:env(safe-area-inset-bottom);}
.login-wrap{position:absolute;font-size:1.2rem;width:calc(100% - 60px);max-width:502px;left:50%;top:50%;transform:translate(-50%,-50%);}
.login-wrap .tit{padding-top:41px;text-align:left;}
.login-wrap .tit img{width:143px;height:71px;}
.login-wrap p{color:#A49A8A;letter-spacing:0;text-align:center;line-height:1.67;}
.login-wrap a{font-weight:bold;color:#655C4F;letter-spacing:0;}
.login-wrap form{margin-top:17px;margin-bottom:10px;}
.login-wrap form label{display:block;width:100%;font-size:1.4rem;color:#655C4F;letter-spacing:0.5px;}
.login-wrap .inp-txt-wrap{position:relative;}
.login-wrap .inp-txt-wrap:after{content:"";position:absolute;right:0;top:11px;display:block;width:16px;height:16px;background:url(../img/ico_confirm.png) no-repeat;background-size:16px;opacity:0;}
.login-wrap .inp-txt-wrap.active:after{opacity:1;}
.login-wrap .inp-txt-wrap + label{margin-top:16px;}
.login-wrap .inp-txt{width:100%;padding:1rem 0;padding-right:20px;font-size:1.4rem;color:#222222;border-bottom:2px solid #655C4F;letter-spacing:0;}
a.btn-login{width:100%;padding:11px;background:#D7191F;border-radius:6px;font-weight:bold;font-size:1.5rem;color:#FFFFFF;letter-spacing:0;text-align:center;line-height:1.47;}
.login-wrap .btn-back{position:absolute;top:-18px;left:-15px;width:50px;height:50px;background:url(../img/btn_back_n.png) no-repeat center;background-size:20px 14px;text-indent:-9999px;}
.inp-chk-wrap{display:inline-block;}
.inp-chk-wrap input{display:none;}
.inp-chk-wrap label{position:relative;padding-left:21px;font-size:1.2rem;color:#655C4F;letter-spacing:0;}
.inp-chk-wrap label:before{content:"";position:absolute;left:0;top:1px;width:16px;height:16px;background-color:#fff;border:1px solid #655C4F;border-radius:50%;}
.inp-chk-wrap input:checked + label:after{content:"";position:absolute;left:3px;top:4px;width:10px;height:10px;background-color:#D7191F;border-radius:50%;}

/* 계좌조회 */
.acc-con{position:relative;padding-top:10px;padding-bottom:45px;background:#f5f5f5;}
.acc-con:before{content:"";position:absolute;left:0;top:0;width:100%;height:57px;background:#cb2b11;}
.acc-con .acc-tit:first-of-type, .acc-con .acc-tit:first-of-type dd{color:#fff;}
.acc-list{position:relative;}
.acc-list .list-card + .acc-tit{margin-top:30px;}
.acc-detail .card{padding:20px;}
.acc-detail .card .btn-detail{top:29px;right:20px;}
.acc-detail .card .info > .top span:not(.acc-num){margin-bottom:4px;color:#616161;font-size:1.4rem;}
.acc-detail .card .info > .top span.acc-num{color:#212121;font-size:1.7rem;}
.acc-detail .card .info .balance{margin-top:0;}
.acc-detail .card .info .balance span{display:inline-block;font-weight:normal;vertical-align:top;margin-right:0.2rem;}
.acc-detail .card .info .balance p:not(.desc){color:#000;font-size:2.2rem;}
.acc-detail .card .info .balance p:not(.desc) span{font-size:2.7rem;margin-top:0.5rem;}
.acc-detail .card .info .balance .desc{margin-top:3px;color:#818181;}
.acc-detail .card .info .balance .desc span{font-size:1.4rem;margin-top:-1px;color:#818181;font-family:'noto', sans-serif;line-height:1.43;;}
.acc-detail .card .info .top + .balance,
.acc-detail .card .info .top + .balance.hidden + .balance{margin-top:21px;}
.acc-detail .card .info .balance .tit-sub{float:left;color:#616161;font-size:1.4rem !important;font-weight:400;font-family:'noto', sans-serif;}

.inp-area-cal{display:flex;margin-top:20px;}
.inp-area-cal div{flex:10;text-align:center;}
.inp-area-cal div:not(.calendar){flex:1;padding:0 3px;}
.inp-area-cal .calendar{display:inline-block;position:relative;height:26px;}
.inp-area-cal .calendar:after{right:auto;margin-left:5px;}
.inp-area-cal .calendar .date, .inp-area-cal .calendar .time.active{display:inline-block;width:63px;height:24px;}
.inp-area-cal .calendar .time{display: none;}
.inp-area-cal > em{display:inline-block;width:6%;text-align:center;}
/* .inp-area-cal button.txt{ position: absolute; display: inline-block; height: 100%; background: #fff; color: #616161; font-size: 1.2rem; line-height: 24px;} */


/* event */
.evnt-wrap{padding:40px 12px 76px;background:#F9F9F9 url(../img/bg_event.png) no-repeat top center;background-size:100%;}
.evnt-wrap .tit{margin-bottom:30px;font-size:2.0rem;color:#FFFFFF;letter-spacing:-0.67px;}
.evnt-wrap .tit-sub{margin-bottom:20px;font-size:1.4rem;color:#222222;letter-spacing:-0.5px;text-align:center;line-height:1.43;}
.evnt-wrap .tit-sub span{display:block;font-size:1.3rem;letter-spacing:-0.46px;color:#A49A8A;line-height:1.54;}
.evnt-wrap .deco{display:block;margin:20px auto 10px;width:1px;height:0;background-color:#D5CFC7;transition:height .3s;}
.evnt-wrap .deco.active{height:80px;}
.evnt-result-wrap{max-width:592px;margin:auto;}
.evnt-result-wrap p img{width:100%;}

/* transfer */
.acc-info .ico-select.gray{ padding:0 30px 0 0;font-size:1.5rem;line-height:1.5;white-space:normal;background-color:transparent;border:none;}
.acc-info ul{margin-top:5px;margin-bottom:1px;color:#818181;font-size:1.3rem;}
.add-info{ margin-top:10px;}
.add-info .inp-area-cal{display:inline-block;margin-top:0;}
.add-info .inp-area-cal .calendar .date{width:75px;}
.add-info .inp-area-cal .calendar .time {width: 40px; margin-left: -13px;}
.add-info .inp-txt.no-border{border-bottom:none;}
.add-info .inp-txt{text-align:right;}

.trf-form{background-color:#fff;}
.trf-form .desc{text-align:right;}
.trf-final{padding:0 20px;}
.trf-final .tit{margin-bottom:26px;color:#000;font-size:2.1rem;line-height:1.3;word-break:break-all;letter-spacing:-0.1rem;text-align:center;}
.trf-final .btns-wrap{text-align:right;}
.trf-final .btns-wrap button{vertical-align:top;}
.trf-final .btns-wrap button + button{margin-left:12px;}
.trf-final.success hr{display:block;margin:0 0 30px;background:#e5e5e5;height:1px;border:none;}
.trf-info{overflow:hidden;}
.trf-info .tb-type1{margin:25px 0;}
.trf-final.fail .trf-info{padding:0 15px;background:#f0f2fc;}
.trf-final.fail .msg-box{text-align:center;}
.trf-final.fail .msg-box p + p{margin-top:5px;}

.trf-add-form{ overflow:hidden;margin-bottom:9px;background-color:#fff;}
.trf-add-form .inp-txt-wrap{ padding:16px 20px;}
.trf-add-form .inp-txt-wrap .inp-txt{ overflow:hidden;border:none;}
.trf-add-form .inp-txt-wrap .ico-select + span{ float:right;}

.trf-add-card{ padding:0 20px 27px;}
.trf-add-card .detail{position:relative;border:1px solid #e5e5e5;}
.trf-add-card .tit{ padding:12px 20px;background:#f5f5f5;color:#212121;font-size:1.6rem;}
.trf-add-card .tb-type1{ margin:20px;width:calc(100% - 40px);}
.trf-add-card .btn-line{position:absolute;top:13px;right:20px;width:auto;}

.ico-wrap{padding-top:30px;padding-bottom:24px;;text-align:center;}
.ico-complete{position:relative;width:48px;height:48px;margin:0 auto;border-radius:50%;transform:rotate(6deg);-webkit-transform:rotate(6deg);}
.ico-complete .pie{position:absolute;left:0;top:0;width:24px;height:48px;border:6px solid #cb2b11;border-radius:100% 0 0 100% / 50% 0 0 50%;border-right:none;-webkit-transform-origin:100% 50%;transform-origin:100% 50%;}
.ico-complete .pie span{position:relative;width:100%;height:100%;display:block;}
.ico-complete .pie span:after{content:"";position:absolute;display:block;width:6px;height:6px;background:#cb2b11;border-radius:50%;}
.ico-complete .full-back{width:100%;height:100%;border:6px solid #fbeeec;border-radius:50%;z-index:0;}
.ico-complete .full-back:before{right:-6px;top:50%;margin-top:-3px;}
.ico-complete .full-back:after{left:50%;top:-6px;margin-left:-3px;}
.ico-complete .spinner{z-index:0;background-position:right top;transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.ico-complete .spinner span:after{right:-2px;top:-6px;}
.ico-complete .filler{opacity:1;z-index:0;background-position:right top;transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.ico-complete .filler span:after{right:-2px;bottom:-6px;}
.ico-complete .centerwhite{width:36px;height:36px;margin:6px;border-radius:50%;border:0;background:#ffffff;}
.ico-complete .ico-status{position:absolute;display:none;}
.ico-complete .check{position:absolute;top:50%;right:50%;transform:translateX(72%) translateY(-77%) rotate(37deg);-webkit-transform:translateX(72%) translateY(-77%) rotate(37deg);}
.ico-complete .check .inner{position:relative;width:18px;height:35px;}
.ico-complete .check .inner:before,
.ico-complete .check .inner:after{content:"";position:absolute;width:100%;height:100%;display:block;}
.ico-complete .check .inner:before{bottom:0;left:0;height:100%;width:0;background:url(../img/ico_result_check1.png) no-repeat;background-size:18px 8px;background-position:left bottom;}
.ico-complete .check .inner:after{bottom:0;right:0;height:0;width:100%;background:url(../img/ico_result_check2.png) no-repeat;background-size:6px 35px;background-position:right bottom;}

.ico-complete.active .spinner{-webkit-animation:rota360 0.6s linear forwards;animation:rota360 0.6s linear forwards;}
.ico-complete.active .filler{-webkit-animation:rota270 0.8s linear forwards;animation:rota270 0.8s linear forwards;}
.ico-complete.active .mask{-webkit-animation:opa1 0.8s steps(1, end) forwards;animation:opa1 0.8s steps(1, end) forwards;}
.ico-complete.active .check .inner:before{-webkit-animation:check_step1 0.1s linear forwards;animation:check_step1 0.2s linear forwards;animation-delay:0.6s;-webkit-animation-delay:0.6s;}
.ico-complete.active .check .inner:after{-webkit-animation:check_step2 0.1s linear forwards;animation:check_step2 0.2s linear forwards;animation-delay:0.8s;-webkit-animation-delay:0.8s;}
.ico-complete.success .ico-status.check{display:block;}

.ico-complete.fail{transform:rotate(27deg);-webkit-transform:rotate(27deg);}
.ico-complete.fail .pie{border-color:#3d67b0;}
.ico-complete.fail .pie span:after{background:#3d67b0;}
.ico-complete.fail .full-back{border:6px solid #f0f3f9;}
.ico-complete.fail .ico-status.cross{width:100%;height:100%;display:block;border-radius:50%;border:0;background:url(../img/ico_result_fail.png) no-repeat center center;background-size:22px 23px;opacity:0;transition:all .6s;-webkit-transition:all .6s;transition-delay:0.8s;-webkit-transition-delay:0.8s;transform:rotate(-27deg);-webkit-transform:rotate(-27deg);}
.ico-complete.fail.active .filler{-webkit-animation:rota230 0.8s linear forwards;animation:rota230 0.8s linear forwards;}
.ico-complete.fail.active .cross{display:block;opacity:1;}

.redAction{display:block;position:fixed;top:107px;left:50%;width:48px;height:48px;margin-left:-24px;border-radius:50%;background:#cb2b11;z-index:100;-webkit-transform:scale(30);transform:scale(30);-webkit-transition:all 500ms cubic-bezier(0.47, 0, 0.75, 0.72);transition:all 500ms cubic-bezier(0.47, 0, 0.75, 0.72);-webkit-transition-delay:100ms;transition-delay:100ms;}
.redAction.active{-webkit-transform:scale(1);transform:scale(1);}

/* 팝업 */
#TRFmyAccList .list-type1 li a p.ta-r.none-color{ margin-top:0;font-size:1.3rem;color:#616161;font-weight:400;letter-spacing:-0.8px;}
#TRFAccList .popup-con{ height:50vh;padding:0;padding-bottom:env(safe-area-inset-bottom);}
#TRFAccList .tab-wrap.border + .tab-con-wrap{ overflow-y:auto;height:50vh;}
#TRFAccList .tab-wrap.round{margin:25px 20px 15px;}
#TRFinfo .popup-con{overflow:hidden;height:auto;padding-bottom:56px;}
#TRFinfo .trf-final{padding:0;}
#TRFinfo .trf-final hr{ margin-bottom:0;}
#TRFinfo .scroll-wrap{ height:27vh;}
#TRFinfo .btn-line{ margin-top:10px;margin-bottom:10px;}
#reserveTime {animation-name: laypop-right-bounce;}


/* keypad */
.keypad-wrap{ position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.30);transition:all 0.25s;}
.keypad-wrap:not(.active){display:none;}
.keypad{ position:absolute;bottom:0;width:100%;background-color:#fff;}
.keypad div{ display:flex;flex-wrap:wrap;}
.keypad div button{ flex:1;}
.keypad div button:active{background-color:rgba(0, 0, 0, 0.1) !important;}
.keypad div span{ display:block;background-image:url(../img/bg_keypad.png);background-repeat:no-repeat;background-size:320px;}


@keyframes testRedBg{
	20%{opacity:1;}
	80%{opacity:0;}
	100%{opacity:0;}
}
-webkit-@keyframes rota360{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(360deg);}
}
@keyframes rota360{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(360deg);}
}
-webkit-@keyframes rota230{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(230deg);}
}
@keyframes rota230{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(230deg);}
}
-webkit-@keyframes rota270{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(270deg);}
}
@keyframes rota270{
	0%{transform:rotate(90deg);}
	100%{transform:rotate(270deg);}
}
-webkit-@keyframes check_step1{
	0%{width:0;}
	100%{width:100%;}
}
@keyframes check_step1{
	0%{width:0;}
	100%{width:100%;}
}
-webkit-@keyframes check_step2{
	0%{height:0;}
	100%{height:100%;}
}
@keyframes check_step2{
	0%{height:0;}
	100%{height:100%;}
}
-webkit-@keyframes opa1{
	0%{opacity:1;}
	50%, 100%{opacity:0;}
}
@keyframes opa1{
	0%{opacity:1;}
	50%, 100%{opacity:0;}
}

@media (max-width:768px){/* Mobile */
    /* common */

    /* text style */

    /* component */

}
@media (max-width:640px){
}

/************** layout *******************/
