@charset "utf-8";

/* Default */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,button,figure,figcaption{
    border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;line-height:1.35;
	-webkit-text-size-adjust:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;text-align:left;}
ol,ul{list-style:none}
section, article, aside, hgroup, header, footer, nav, figure, figcaption, summary{display:block;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;line-height:1;}
caption{display:none;}
hr{display:none;}
legend{display:none;}
i,em,strong{font-style:normal;font-weight:normal;}
a{color:#616161;text-decoration:none;selector-dummy:expression(this.hideFocus=true);cursor:pointer;}
a:hover{text-decoration:none;}
a[href^="tel"] {font-style:normal;}
label{vertical-align:0px;}
textarea{resize:none;}
input,textarea,select{font-family:'noto',Helvetica,'apple sd gothic neo',Arial, sans-serif;outline:0;border-radius:0;border:0;margin:0;padding:0;font-size:1.4rem;
	-webkit-border-radius:0;
	-webkit-appearance:none;
/* clip:rect(0, 0, 0, 0); */
}
button, select {text-transform:none;}
button{font-family:'noto', sans-serif;cursor: pointer;}
img{max-width:100%;height:auto;}
mark{background:transparent;}
:before, :after {font-family:'noto', sans-serif;}
html,body{color:#616161;font-size:10px;font-family:'noto', sans-serif;font-weight:400;
    -webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
@media (max-width:350px){html,body{font-size:10px;}}
